<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gnstudio.pg.docebo.lmsclient" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
		xmlns:gap = "http://phonegap.com/ns/1.0">
    <name>LmsClient</name>
    <description>
        Docebo smart client app
    </description>
    <author email="info@gnstudio.com" href="http://gnstudio.com">
        GNstudio Dev Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	<preference name="phonegap-version" value="3.1.0" />
	    <preference name="orientation" value="default" />
	    <preference name="fullscreen" value="true" /
	
 	<gap:platform name="ios" />
	
	<gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.file-transfer" />
	<gap:plugin name="org.apache.cordova.globalization" />
	<gap:plugin name="org.apache.cordova.console" />
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.network-information" />
	
</widget>
